.Student-t_Distribution_header_logo{
    margin-top: 2rem;
    font-family: 'Jua', sans-serif;
}

.Student-t_Distribution_header_button{
    margin-bottom: 2rem;
}

.Student-t_Distribution_footer_logo{
    margin-bottom: 2rem;
    font-family: 'Jua', sans-serif;
}

.Student-t_Distribution_footer_button{
    margin-top: 2rem
}